.Upper-row{
  background-image: url(cc7401db3e376fa34e8d9af966557c69.jpg);
}


.head{
  display: flex;
  justify-content: space-between;
  height: 50px;
  padding: 20px 110px 0 0;
}

.left-head{
  padding: 20px 0 0 50px;
  color: white;
}

.login-name{
  text-decoration: none;
  color: black;
  font-weight: bold;
  padding: 15px;
  margin-right: 20px;
}

.logout{
  text-decoration: none;
  border: 1px solid black;
  color: black;
  background-color: #f0c538f3;
  padding: 10px;
  margin-right: 30px;
  font-size: 14px;
}

.login{
  text-decoration: none;
  border: 1px solid black;
  color: black;
  background-color: #f0c538f3;
  padding: 15px;
  margin-right: 20px;
}

.sign-up{
  text-decoration: none;
  border: 1px solid black;
  color: black;
  background-color: #f0c538f3;
  padding: 15px;
  margin-right: 60px;
}

.date-contact {
  display: flex;
}

.date {
  width: 300px;
  height: 100px;
  font-size: 20px;
  color: white;
  padding: 30px;
}

.contact {
  width: calc(100vw - 300px);
  height: 100px;
  padding: 10px;
  display: flex;
}

.form-msg{
  background-color: white;
  padding: 10px;
  height: 80px;
  width: calc(100vw - 450px);
  white-space: pre-wrap;
  overflow: scroll;
}

.edit-button{
  height: 70px;
  text-decoration: none;
  border: 1px solid black;
  color: black;
  background-color: #f0c538f3;
  padding: 20px;
  margin: 5px 0 0 30px;
}




.wrapper {
  display: flex;
}

.side-bar {
  background-color: #253141;
  width: 300px;
}

.side-bar-header {
  padding: 15px;
  height: 75px;
  background-color: #253141;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.create-room a {
  font-size: 10px;
  border: 1px solid lightblue;
  padding: 14px;
  color: deepskyblue;
  text-decoration: none;
}

.rooms {
  background-color: #2F3E51;
  height: 200px;
  padding: 0 20px;
  overflow: scroll;
}

.room{
  padding: 20px 0 10px;
}

.room-name a {
  text-decoration: none;
  color: white;
}

.user-list-header{
  padding: 15px;
  height: 75px;
  background-color: #253141;
  display: flex;
  justify-content: space-between;
  align-items: center; 
}

.user-list{
  font-size: 10px;
  border: 1px solid lightblue;
  padding: 14px;
  color: deepskyblue;
  text-decoration: none;
}

.users {
  background-color: #2F3E51;
  height: calc(100vh - 500px);
  padding: 0 20px;
  overflow: scroll;
}

.user{
  padding: 20px;
}

.user-name a{
  padding-bottom: 10px;
  text-decoration: none;
  color: white;
}




.chat {
  /* background-color: #49260ab9; */
  width: calc(100vw - 300px);
}

.chat-header {
  height: 75px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  background-color: #6e4b2cb9;
}

.team-title{
  color: black;
  font-size: 24px;
  margin-top: 21px;
}

.right-header{
  padding: 25px 0 0 0;
}

.end-button a{
  text-decoration: none;
  /* border: 2px solid rgba(173, 102, 8, 0.658);
  color: rgba(173, 102, 8, 0.658); */
  border: 2px solid rgb(100, 25, 25);
  color: rgb(100, 25, 25);
  margin: 5px;
  padding: 10px;
  background-color: white;
}



.chat-main{
  display: flex;
}

.messages {
  /* background-color: #FAFAFA; */
  height: calc(100vh - 75px - 90px - 150px);
  overflow: scroll;
  width: calc(100vw - 500px);
}

.message{
  margin: 10px 0 0 0;
}

.upper-message{
  display: flex;
}

.message-name{
  color: #434a54;
  font-size: 12px;
  padding-left: 20px;
}

.message-date{
  color: #999;
  font-size: 12px;
  padding-left: 10px;
}

.lower-message{
  margin-top: 10px;
  padding-left: 20px;
}

.message-content{
  color: #434a54;
  font-size: 14px;
  margin-bottom: 40px;
}



/* .memo{
  background-color: red;
} */

.memo-text{
  margin: 10px 10px 0 0;
  /* height: calc(100vh - 380px); */
  padding-bottom: 250px;
}




.form {
  background-color: #6e4b2cb9;
  height: 90px;
  padding: 20px 40px;
  display: flex;
}

.form-input{
  background-color: white;
  width: 100%;
}

.form-message{
  border: none;
  height: 50px;
  width: 100%;
  padding-left: 10px;
}

.form-submit{
  background-color: #f0c538f3;
  border: none;
  color: black;
  font-size: 16px;
  height: 50px;
  margin-left: 15px;
  padding: 0 20px;
}